* {
    transition: .25s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    --first-color:white;
	  --second-color:#fad922;
    --third-color:#0da9e2;
    --bg-image-header:url('../image/s1.jpg');
    --bg-image-center:url('../image/s1.jpg');
  }
  
  body {
      width:100%;
      height: 100%;
      /* overflow-x: hidden; */
     /* display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-content: space-between; */
  }



























.main-first{
  width:100%;
  /* height: 1200px; */
  background-color: #1d1139;
}
.main-first-orel{
position: relative;
height: 100%;
}
.main-first-orel::after{
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width:50%;
  height: 50%;
  background-image: url('../image/orel.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.main-itcity{
  width:100%;
  height: 50%;
  color: white;
  padding-left: 100px;
}
section.list-btn-main ul{
  margin-left: -10px;
  padding: 0;
}
section.list-btn-main li{
  display: inline;
  list-style-type: none;
  text-decoration: none;
  margin:0 10px;
}
section.list-btn-main li a{
  color: white;
  padding: 5px 10px;
}





@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
    transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
    transform: skewY(-45deg) translateX(12.5em);
  }
}
.wrapper {
  z-index: 44;
  display: inline;
  position: relative;
  text-decoration: none;


}
.button {
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
  border: 1px solid white;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.button:hover {
  background-color: var(--second-color);
  color: #fff;
  border-bottom: 1px solid var(--second-color);
}
.button:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
.wrapper a{
  text-decoration: none;
  font-weight: 300;
}
h3.title-main{
margin-top: 30px;
font-size: 22px;
font-weight: 500;
}
h2.subtitle-main{
  font-size: 42px;
  font-weight: 200;
  opacity: 0.7;
  margin-bottom: 30px;
}
p.paragraf-main{
  width:50%;
  height: 50%;
  overflow: hidden;
  font-size: 14px;
}



.center-itcity{
  height: 40%;
  padding: 30px 20px;
  width:80%;
margin: 30px auto;
background-color: #21143f;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .25);
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
.each-itcity{
  flex-basis: 30%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px 0;
  flex-wrap: ;
  
}
.left-each-itcity{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  height: 100%;
  border:1px solid #e1e0e5;
  
 
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
  transform: rotate(45deg); 
  
}
.left-each-itcity img{
  padding: 0;
  margin: 0;
  width:60px;
  height: 70px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
}
.right-each-itcity{
  width:60%;
  padding-top: 25px;
  z-index: 4;
  
}

.right-each-itcity h4{
  padding-left: 30px;
  color: #e1e0e5;
  font-size: 22px;
  font-weight: 400;
}
.right-each-itcity a{
  padding: 0;
  margin-left: 30px;
  color: var(--second-color);
  position: relative;
}
.right-each-itcity span{
  position: absolute;
  bottom: 0;
  left: 0;
  width:0%;
  height: 2px;
  background-color: var(--second-color);
}
.right-each-itcity a:hover span{
  width:100%;
}






.main-second{

}

.center-second-main{
  position: relative;
  width:100%;
  height: 578px;
  background-image: url('../image/main-second.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.second-container{
  display: none;
}
.left-second-main{
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-28px;
  z-index: 13;
}
.left-second-main img:hover{
  transition: 0.3s;
  margin-top: -22px;
  margin-left: -2px;
  margin-right: 2px;

}
.left-second-main img{
  width:100%;
  height: auto;
  transition: 0.7s;
}
.right-second-main{
  flex-basis: 75%;
  padding-right: 90px;
  z-index:12;
}
.right-second-main section{
  width:100%;
}
.right-second-main h5{
  font-size: 48px;
  font-weight: 400;
  padding-top: 80px;
  padding-left: 100px;
  padding-bottom: 30px;
}
.right-second-main .contact{
  color: red;
}
.right-contact {
  float: right;
  color: #1d1139;
}
.right-contact .brk-btn{
  border:2px solid #1d1139;
}
a.right-a{
  color: #1d1139;
  text-decoration: none;
  padding: 5px 10px;
}




.main-third{
  background-color: white;
}
.third-company{
  width:100%;
  position: relative;
}
.third-company-main{
  margin: auto;
  width:90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap:wrap
}
.left-company{
  flex-basis: 40%;

}

.title-company h4{
  font-size:42px;
  font-weight: 300;
  line-height: 30px;
  position: relative;
  
}
.title-company h4::after{
  content: " ";
  position: absolute;
  left: 4px;
  top: 0;
  width:100px;
  height: 2px;
  background-color: var(--second-color);
}
p.paragraf-company{
  font-weight: 500;
  padding: 10px 10px 10px 0;
  line-height: 20px;
}
.right-company{
  position: relative;
  flex-basis: 60%;
  height: 100%;
}
.right-company .image-box{
  width:100%;
  overflow:hidden;
  border-radius: 5px;
}
.right-company .image {
	width:100%;
  height:400px;
  border-radius: 5px;
	background-image: url("../image/third-1.jpg");
	background-position:center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
} 
.right-company .image:hover {  
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */ 
  transform: scale(1.1);
} 


a.right-link{
  z-index: 3434;
  position: absolute;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  left:35%;
  bottom: 30px;
  border-radius: 40px;
  height: 2.8em;
  width: 15em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #000;
  font-weight: 500;
  background-color: var(--second-color);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
}
a.right-link::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 30em;
  height: 30em;
  line-height: 20em;
  left: -7em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
a.right-link:hover {
  color: #fff;
}
a.right-link:hover::before {
  box-shadow: inset 0 0 0 15em #ee3769;
}









.main-four{
  padding-top: 50px;
}
.main-four h6{
  text-align: center;
  color: #1d1139;
  font-size: 42px;
  font-weight: 400;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 40px;
}
.main-four h6::after{
  content: " ";
  left:45%;
  bottom: 0;
  position: absolute;
  width:120px;
  height: 2px;
  background-color: var(--second-color);
}
.four-portfolio{
  width:90%;
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}
.each-portfolio{
  
  flex-basis: 49.7%;
  height: 300px;
  margin-top: 8px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  
}

.inside-port{
  flex-basis: 49.7%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.inside-each-port{
  flex-basis: 49.2%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.inside-each-port::after{
  display: none;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  background: rgba(0,0,30,0.3);
  background: rgba(0,0,30,0.3);
transition: 0.5s ease-in-out;
}
.inside-each-port:hover::after{
  display: block;
}
.text-portfolio{
  color: white;
  width:100%;
  position: relative;


}
.text-portfolio span{
  display: block;
  padding-left: 5px;
  line-height: 30px;
  position: relative;
  z-index: 7;
  
}

.text-title{
  font-size: 24px;
}
.text-subtitle{
  font-size: 28px;
}
.inside-each-port .text-title{
  font-size: 18px;
}
.inside-each-port .text-subtitle{
  font-size: 24px;
}
.each-portfolio-contact {
  margin:50px 0;
  text-align: center;
  color: #1d1139;
}
.each-portfolio-contact .brk-btn{
  border:2px solid #1d1139;
}
#carouselExampleIndicators{
 display: none;
}
.vital-port{
  position: relative;
}
.vital-port::after{
  display: none;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  background: rgba(0,0,30,0.3);
  background: rgba(0,0,30,0.3);
transition: 0.5s ease-in-out;
}
.vital-port:hover::after{
  display: block;
}



























.main-five-center{
  position: relative;
   width:100%;
   background-image: url("../image/main-five.png");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 9;
}
.flex-main-five{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  height: 547px;
  border:2px solid red;
}
.left-five{
  height: 100%;
  flex-basis: 45%;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap:wrap;
  position: relative;
}
.left-five::after{
  content: "Партнеры & клиенты";
  position: absolute;
  top: 40px;
  left: 30%;
  width:45%;
  font-size: 42px;
  font-weight: 300;
  line-height: 35px;
}
/* 
.left-section{
  border:2px solid red;
} */
.left-section{
 margin-top: 80px;
  width:65%;
  height: 64%;
  border:2px solid red;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.right-five{
  height: 100%;
  flex-basis: 55%;
  border:2px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.right-five::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 10%;
  background-image: url("../image/overlay2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-right-five{
  flex-basis: 50%;
}
.top-right-five p{
  font-weight: 500;
  padding-left: 20px;
}
.bottom-right-five{
  flex-basis: 50%;
}
.bottom-right-five img{
  width:90%;
  height: auto;
}















.molecules__wrapper {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  /* z-index:11; */

  
}


















@media screen and (min-width:1600px) {
  .second-container{
    display: block;
  }
  .left-second-main{
    flex-basis: 20%;
  }
  .left-second-main img{
    margin-top: -100px;
  }
  .right-second-main{
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1400px) {
  .right-five{

  flex-basis: 50%;

  }
  .bottom-right-five img{
    width:80%;
  }
  .top-right-five p{
    font-weight: 500;
    padding-top: 100px;
    padding-left: 20px;
    line-height: 20px;
  }
  .left-section{
     width:55%;
    }
}
@media screen and (max-width: 968px) {
  
  .main-first-orel::after{
    display: none;
  }
  .main-itcity{
    padding-left: 0;
    height: 40%;
  }
  .center-second-main{
    height: 452px;
  }
  .right-each-itcity{
  padding: 0;
  }
  .right-each-itcity h4{
    font-size: 18px;
    padding-left: 10px;
  }
  a.right-each-a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 0;
  }
  p.paragraf-main {
    width:100%;
  }
  .main-itcity{
    width:100%;
  }
  .center-itcity{
    height: 50%;
    width:100%;
  }
  .left-each-itcity{
    -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg); 
  }
  a.navlink img{
    display: none;
  }
  .left-company{
    flex-basis: 100%;
    order: 2;
    padding-top: 20px;
  }
  .right-company{
    order:1;
    flex-basis: 100%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .25);
  }
  .right-second-main h5{
    font-size: 28px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  .right-second-main p{
    line-height: 17px;
  }
  .left-second-main{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-48px;
    z-index: 13;
  }
  .left-second-main img{
    width:90%;
  }
  .right-second-main{
    flex-basis: 60%;
    padding-right: 90px;
    z-index:12;
  }
  .third-company-main{
    width:100%;
  }
  .four-portfolio{
    width:100%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .25);
  }
  .top-right-five{
    flex-basis: 100%;
  }
  .bottom-right-five{
    display: none;
  }
  .left-section{
    margin-top: 80px;
     width:100%;
     height: 64%;
}
.left-five::after{
 
  left: 0;
  width:100%;
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
}



@media screen and (max-width: 768px) {
  header{
    background-position: right;
  }
  .center-second-main{
    height: 652px;
  }
  .left-second-main{
    flex-basis: 40%;
  }
  .right-second-main{
  flex-basis: 60%;
  }
  .right-second-main h5{
    font-size: 28px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .right-second-main p{
    height: 280px;
    overflow: hidden;
  }

  }
  @media screen and (max-width: 676px) {
    .left-second-main{
      display: none;
    }
    .center-second-main{
      height: 378px;
    }
    .right-second-main p{
    text-align: center;
    height: 100%;
    padding:0 30px;
    }
    .right-second-main{
      flex-basis: 100%;
      padding-right: 0;
      }
      .right-second-main h5{
        font-size: 28px;
        padding-top: 10px;
        padding-left: 100px;
  }

  @media screen and (max-width: 576px) {
    .main-itcity{
      text-align: center;
    }
    section.list-btn-main ul{
      margin-left: 0;
    }
    section.list-btn-main li{
      display: block;
    }
    .center-itcity{
      padding: 30px 0;
    }
    h2.subtitle-main {
      font-size: 32px;
      font-weight: 200;
      opacity: 0.7;
      margin-bottom: 10px;
  }
    .main-four{
      padding-top: 20px;
    }
    .main-four h6{
      font-size: 32px;
      margin-bottom: 20px;
    }
    .main-four h6::after{
      left:39%;
    }
    .each-portfolio {
  margin-top: 4px;
  height: 200px;
}
    .text-title{
  font-size: 16px;
}
.text-subtitle{
  font-size: 20px;
}
.inside-port{
  flex-basis: 100%;
}
.inside-each-port{
  flex-basis: 49.7%;
}
.right-company .image{
  height: 300px;
}
a.right-link {
 
  left: 35%;
  bottom: 30px;
  border-radius: 4px;
  height: 2.5em;
  width: 10em;
}

.title-company h4{
  font-size:32px;
  line-height: 25px;
  text-align: center;
  
}
.title-company h4::after{
  left: 39%;
  top:120%;
  width:120px;
}
p.paragraf-company{
  text-align: center;


}
.flex-main-five{
  flex-wrap: wrap;
  align-content: space-around;
  height: 900px;
}
.left-five{
  flex-basis: 100%;
  height: 65%;
}
.left-section{
  height: 60%;
  border:2px solid green;
}
.right-five{
  flex-basis: 100%;
  height: 50%;
  text-align: center;
}
}